// 注意：bootstrapの使用が必要。

body:has(.gantt-chart) {
  height: 100vh !important;
}
main:has(.gantt-chart) {
  @extend .overflow-hidden;
}
.gantt-chart {
  --timeline-column-num: 42;
  @extend .d-grid;
  @extend .bg-white;
  @extend .border;
  @extend .overflow-auto;
  @extend .position-relative;
  @extend .h-100;
  @extend .small;
  @extend .p-0;
  grid-template-rows: 90px 1fr;
}
.gantt-header {
  @extend .sticky-top;
  @extend .bg-white;
  @extend .shadow-sm;
}
.gantt-row {
  @extend .d-grid;
  grid-template-columns: minmax(500px, auto);

  @include media-breakpoint-up(sm) {
    grid-template-columns: 500px 1fr;
  }
}
.gantt-task-header,
.gantt-task-content {
  @extend .d-grid;
  @extend .position-sticky;
  @extend .start-0;
  grid-template-columns: 2fr 1fr 80px 80px;
  border-right: 1px solid var(--bs-gray-400);
  border-bottom: 1px solid var(--bs-gray-400);
  z-index: 1;

  &>div {
    @extend .d-grid;
    @extend .p-1;
    @extend .text-center;
    place-items: center;

    &:not(:last-child) {
      border-right: 1px dotted var(--bs-gray-400);
    }
  }
}
.gantt-task-header {
  @extend .bg-white;
}
.gantt-task-content {
  @extend .bg-white;

  &>div:first-child {
    place-items: center start;
  }
}
.add-task .gantt-task-content {
  grid-template-columns: auto;
}
.gantt-scale-header {
  @extend .d-none;
  @extend .d-sm-grid;
  grid-template-rows: 1fr 2fr;
}
.gantt-timeline-row {
  @extend .d-none;
  @extend .d-sm-grid;
  grid-template-columns: repeat(var(--timeline-column-num), 30px);
  border-bottom: 1px solid var(--bs-gray-400);
}
.gantt-months>div,
.gantt-days>div {
  @extend .d-grid;
  place-items: center;
  border-right: 1px dotted var(--bs-gray-400);
}
.gantt-days>div {
  @extend .text-center;
}
.weekend {
  background-color: var(--bs-gray-200);
}
.saturday {
  @extend .weekend;
  @extend .text-primary;
}
.sunday {
  @extend .weekend;
  @extend .text-danger;
}
.gantt-body {
  @extend .d-grid;

  &>div {
    grid-area: 1 / 1;
    z-index: 1;
  }
}
.vertical-lines .gantt-timeline-row>div:not(:last-child) {
  border-right: 1px dotted var(--bs-gray-400);
}
.gantt-tasks .gantt-timeline-row>div {
  grid-row: 1;
}
.gantt-bar {
  @extend .bg-primary;
  @extend .rounded;
  @extend .position-relative;
  @extend .h-75;
  @extend .my-auto;
  @extend .mx-0;
}
.done-task {
  .gantt-task-content {
    @extend .text-done;

    .task-name>div {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        display: inline-block !important;
      }
    }
  }
  .gantt-bar {
    @extend .bg-done;
  }
}
.today {
  @extend .border;
  @extend .border-cyan;
  margin: -1px 0 -1px -1px;
  background-color: $cyan-100;
}
