<% if notice %>
  <div data-turbo-cache="false">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div data-turbo-cache="false">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
