<header class="sticky-top">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Home", "#", class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Link", "#", class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-outline-light me-2">ログイン</button>
        <button type="button" class="btn btn-outline-light me-2">ゲストログイン</button>
        <button type="button" class="btn btn-warning">新規登録</button>
      </div>
    </div>
  </nav>
</header>
