<div class="homes-show container px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        タスク管理を<br>
        個人でもチームでも
      </h1>
      <p class="lead">
        TaskWithは、ガントチャート方式のタスク管理ツールです。<br>
        チームで一緒にタスク管理を始めましょう。
      </p>
      <%= link_to "アカウントを作成", new_user_registration_path, class: "btn btn-primary btn-lg px-4 w-100" %>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag "app_screen_gantt_chart.png", class: "d-block mx-lg-auto img-fluid rounded-3 shadow", alt: "App's screen of gantt chart" %>
    </div>
  </div>
</div>
